body{
    background-color: rgb(248, 244, 244);
    background-image:url("/css/images/clouds-sky-summer-day-blue.jpg");
    background-size: cover;
}


#title{
    display: flex;
    justify-content: space-around;
    justify-content: center;

}


.info2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p{
    font-size: large;
}